*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

body{
    background: url('../img/asfalt.png') repeat fixed;
}

.secciones{
    height: 100vh;
    width: 100%;
    // background: red;
}

.container-phone{
    position: fixed;
    height: 478px;
    width: 238px;
    overflow: hidden;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 43px;

    .iphone{
        width: 100%;
        height: 101%;
        bottom: 2px;
        object-fit: cover;
        position: relative;
        z-index: 10;
    }

    .slides{
        // overflow: hidden;
        height: 100%;
        transform: translateY(-480px);
        transition: transform 1s ease-in-out;
        position: relative;
        z-index: 5;        
        
        img{
    
            display: block;
            width: 86%;
            height: 97%;
            margin-left: 17px;
            padding-top: 5px;
        }
    }
}
